.avatar {
  border-radius: 200px !important; //Meh :/
  display: inline-block;
  float: left;
  margin-right: 1em;
  width: 150px;
}

.about-heading {
  h1 {
    margin-bottom: 0px !important; //Meh :/ I really need to do something about this
  }
}